*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-image: url(../img/pattern.png);
  background-color: #4ea0ff;
  background-size: 30%;
  padding-top: 24px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.logo{
  width: 150px;
}

.data{
  color: grey;
  font-size: 10px;
}

.autore{
  color: grey;
  font-size: 12px;
}

.the-booleaner{
  color: skyblue;
}

.titolo{
  margin-bottom: 0;
}

.immagini{
  margin-top: 10px;
  margin-bottom: 0;
}

.didascalia {
  font-size: 10px;
}

.giallo{
  background-color: yellow;
}

ul {
  margin-left: 15px;
  margin-bottom: 25px;
}

.tabella{
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.intestazione-tabella{
  background-color: #20a9e5;
}

.colonna-colore{
  background-color: #b1e5f2;
}

.footer{
  color: grey;
  font-size: 12px;
}

.footer-1{
  background-image: url(../img/monitor.jpg);
  background-size: cover;
  color: white;
  width: 150px;
  height: 100px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
}

.footer-2{
  background-image: url(../img/graph.jpg);
  background-size: cover;
  color: white;
  width: 150px;
  height: 100px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
  margin-top: 5px;
}

.colonna-larga{
  width: 50%;
}

th{
  text-align: left;
  color: white;
}

.contenitore{
  margin-top: 15px;
  margin-right: 100px;
  margin-bottom: 15px;
  margin-left: 100px;
}

.paragrafo{
  margin-top: 15px;
  margin-bottom: 25px;
}